.flex{
  display: flex;
  justify-content: start;
  align-items: center;
}


#ga {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}
.info {
  width: 250;
  margin-left: 18px;
  font-family: Arial;
}
#name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
#intro {
  margin-top: 5px;
  margin-bottom: 5px;
}
#popular {
  margin-top: 5px;
  margin-bottom: 5px;
}



